<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('meta') %>
        <meta charset="UTF-8">
        <title>Title</title>
        <%- include('stylesheets') %>
        <%- include('scripts') %>
    </head>
    <body>
        <%- include('header') %>

<!--        contact page -->

        <%- include('footer') %>
    </body>
</html>