<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('meta') %>
        <meta charset="UTF-8">
        <title>Title</title>
        <%- include('stylesheets') %>
        <%- include('scripts') %>
        <script>
            window.addEventListener('load', main);

            function main() {
                document.querySelectorAll('#page-header nav .links').forEach((link) => {
                    if (link.innerHTML === 'Contact') {
                        link.style.backgroundColor = '#00aae6';
                        link.style.borderBottom = '0.15em solid white';
                    }
                });
            }
        </script>
    </head>
    <body>
        <%- include('header') %>

<!--        contact page -->

        <%- include('footer') %>
    </body>
</html>