<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Travel Experts</title>
        <%- include('stylesheets') %>
        <%- include('scripts') %>

        <style>
            .main-page-grid {
                width: 100%;
                display: grid;
                grid-template-columns: 1.5fr 2fr 1fr 2fr 1.5fr;
                border-bottom: 0.15em solid #9b9b9b;
                border-radius: 5px;
                box-sizing: border-box;
                /* Background is visual guide only. Delete when finished */
                background-color: hotpink;
                left: 0;
            }

            .left-margin {
                /* Grid-area: start row/ start column/ row span/ column span */
                grid-area: 1 / 1 / span 10 / span 1;
                border-style: dotted;
                border-width: 5px;
            }

            .right-margin {
                grid-area: 1 / 5 / span 10 / span 1;
                border-style: dotted;
                border-width: 5px;
            }

            .slideshow-container {
                grid-area: 1 / 2 / span 1 / span 3;
                background-color: #FAF2C3;
            }
                #slide {
                    border: 5px double #555;
                }

                .featured-package {

                }

            .featured-package-container {
                padding: 5px;
                grid-area: 2 / 2 / span 2 / span 3;
                background-color: orange
            }

        .vacation-package {
            border: 1px solid black;
            border-radius: 0.5em;
            margin-bottom: 1em;
            padding: 1em;
            background-color: yellow;
            width: 70%;

        }

        .vacation-package .package-info h1 {
            text-align: left;
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: 0.5em;
        }
        .vacation-package .package-info p {
            font-style: italic;
            margin-bottom: 0.5em;
        }
        .vacation-package .package-info span {}
        .vacation-package .order-package {
            justify-self: center;
            align-self: center;
        }

        </style>

        <script>
            window.addEventListener('load', main);

            function main() {
                const logo = document.querySelector('#page-header .banner img');
                logo.style.backgroundColor = '#00aae6';
            }
        </script>
    </head>

    <body>
        <%- include('header') %>

        <section id="main-content">

            <div class="main-page-grid">
            <!-- Left Page Margin -->
                <div class="left-margin"> 1

                </div>

                <div class="slideshow-container" style="text-align:center;">
                    <img id="slide" width="800" height="500"/>
                </div>

                <div class="featured-package-container">


                    <p style="font-size: 2em"> <u> Featured Package </u>
                        <span style="font-size: 60%; float:right; font-style: italic; font-weight: bold; ">Get this package for 30% off at checkout. Offer lasts until December 20th.</span>
                    </p>

                    </br>

                    <div class="package">

                        <article id="package-<%= featuredPackage.PackageId %>" class="vacation-package">
                            <div class="package-container">
                                <div class="package-info">
                                    <h1><%= featuredPackage.PkgName %></h1>
                                    <p><%= featuredPackage.PkgDesc %></p>
                                        <div class="order-package" style="float:right">
                                            <form method="get" action="/vacations/order">
                                                <input type="hidden" name="packageId" value="<%= featuredPackage.PackageId %>">
                                                <button>Order Now!</button>
                                            </form>
                                        </div>

                                    <span>Price: <del>$<%= featuredPackage.PkgBasePrice %></del>
                                        <script>discount</script></span>


                                </div>
                                <div>
                                </div>

                            </div>

                        </article>


                    </div>
                    <img src="media/images/Banff.jpg" style="max-width: 25%; grid-area: ">

                </div>

            <!-- Right Page Margin -->
                <div class="right-margin"> 4

                </div>

                <div> 5

                </div>


                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
            </div>


        </section>

        <script>


            var discount = (parseInt(<%= featuredPackage.PkgBasePrice %>)*(0.7));

            console.log(discount)

            var slideshowImages = ["media/images/Asian/China.jpg",
                "media/images/Asian/Japan.jpg",
                "media/images/Asian/Japan2.jpg",
                "media/images/Asian/Korea.jpg",
                "media/images/Asian/Philippines.jpg",

                "media/images/Carribean/Beach.jpg",
                "media/images/Carribean/DominicanRepublic.jpg",
                "media/images/Carribean/Pier.jpg",
                "media/images/Carribean/Pig.jpg",
                "media/images/Carribean/Turtle.jpg" ];
            var slideIndex = 0;

            slideShow();

            function slideShow() {
                document.getElementById("slide").src = slideshowImages[slideIndex];
                slideIndex++;
                if (slideIndex == slideshowImages.length) { slideIndex = 0; }
                setTimeout("slideShow()", 5000);
            }



        </script>


        <%- include('footer') %>
    </body>

</html>