<!--
Vacation packages page
Author: Nate Penner
When: December 2021
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../meta') %>
        <title>Travel Experts<%= pageTitle %></title>
        <%- include('../stylesheets') %>
        <style>
            #main-content {
                display: grid;
                width: 75%;
                margin: 0 auto;
            }
            #main-content > h1 {
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 1em;
            }
            .vacation-package {
                border: 1px solid black;
                border-radius: 0.5em;
                margin-bottom: 1em;
                padding: 1em;
            }
            .vacation-package:hover {
                cursor: pointer;
                background-color: #86b7fe;
            }
            .vacation-package .package-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .vacation-package .package-info h1 {
                text-align: left;
                font-size: 1.25em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }
            .vacation-package .package-info p {
                font-style: italic;
                margin-bottom: 0.5em;
            }
            .vacation-package .package-info span {}
            .vacation-package .order-package {
                display: grid;
                grid-template-columns: 1fr;
                justify-items: stretch;
            }
            .vacation-package .order-package form button {
                width: 100%;
                height: 100%;
                font-size: 1.5em;
                border-radius: 10px;
            }
            .vacation-package .package-images {
                display: none;
                margin-top: 1em;
            }
            .vacation-package .package-images img {
                display: block;
                max-width: 75%;
                margin: 0.5em auto 0 auto;
            }
            @media only screen and (min-width: 1000px) {
                .vacation-package .package-images img {
                    max-width: 25%;
                    margin: 0;
                    float: left;
                }
            }
        </style>
        <script src="/assets/scripts/vacations.js"></script>
        <script>
            window.addEventListener('load', main);

            function main() {
                document.querySelectorAll('#page-header nav .links').forEach((link) => {
                    if (link.innerHTML === 'Packages') {
                        link.style.backgroundColor = '#00aae6';
                        link.style.borderBottom = '0.15em solid white';
                    }
                });
            }
        </script>
    </head>

    <body>
        <%- include('../header') %>

        <section id="main-content">
            <h1>Vacation Packages</h1>
            <% vacations.forEach((vacation) => { %>
                <article id="package-<%= vacation.PackageId %>" class="vacation-package">
                    <div class="package-container">
                        <div class="package-info">
                            <h1><%= vacation.PkgName %></h1>
                            <p><%= vacation.PkgDesc %></p>
                            <span>Price: $<%= vacation.PkgBasePrice %></span>
                        </div>
                        <div>
                        </div>
                        <div class="order-package">
                            <form method="get" action="/vacations/order">
                                <input type="hidden" name="packageId" value="<%= vacation.PackageId %>">
                                <button type="submit">Order Now!</button>
                            </form>
                        </div>
                    </div>
                    <div id="package-images-<%= vacation.PackageId %>" class="package-images">
                        <% vacation.images.forEach((image) => {%>
                        <img src="<%= image %>">
                        <% }); %>
                    </div>
                </article>
            <% }); %>
        </section>

        <%- include('../footer') %>
    </body>
</html>