<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../meta') %>
        <title>Travel Experts<%= pageTitle %></title>
        <%- include('../stylesheets') %>
        <%- include('../scripts') %>
        <style>
            #main-content {
                display: grid;
                width: 75%;
                margin: 0 auto;
            }
            #main-content > h1 {
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 1em;
            }
            .vacation-package {
                border: 1px solid black;
                border-radius: 0.5em;
                padding: 1em;
                margin-bottom: 1em;
            }
            .vacation-package:hover {
                cursor: pointer;
                background-color: #86b7fe;
            }
            .vacation-package h1 {
                text-align: left;
                font-size: 1.25em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }
            .vacation-package p {
                font-style: italic;
                margin-bottom: 0.5em;
            }
            .vacation-package span {}
        </style>
    </head>
    <body>
        <%- include('../header') %>

        <section id="main-content">
            <h1>Vacation Packages</h1>
            <% vacations.forEach((vacation) => { %>
                <article class="vacation-package">
                    <h1><%= vacation.PkgName %></h1>
                    <p><%= vacation.PkgDesc %></p>
                    <span>Price: $<%= vacation.PkgBasePrice %></span>
                </article>
            <% }); %>
        </section>

        <%- include('../footer') %>
    </body>
</html>