<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../meta') %>
        <title>Travel Experts<%= pageTitle %></title>
        <%- include('../stylesheets') %>
        <%- include('../scripts') %>
        <style>
            #main-content {
                width: 75%;
                margin: 0 auto;
            }
            #main-content > h1 {
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 1em;
            }
            .package > h1 {
                font-size: 2em;
                text-align: center;
            }
            .package > p {
                margin-top: 1em;
                text-align: center;
            }
            .package > h3 {
                text-align: center;
                font-size: 1.25em;
                margin-top: 1.5em;
            }
            .package form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: min-content min-content;
                grid-row-gap: 1em;
                grid-column-gap: 1em;
                width: 35%;
                margin: 1em auto 0 auto;
            }
            .package form label {
                text-align: right;
                align-self: center;
            }
            .package form select, .package form input[type="text"] {
                padding: 0.75em;
                font-weight: bold;
            }
            .package form button {
                padding: 1em;
            }
            strong {
                font-weight: bold;
            }
            em {
                font-style: italic;
            }
        </style>
        <script>
            window.addEventListener('load', main);

            function main() {
                const uuid = window.sessionStorage.getItem('CustomerUUID');

                if (uuid)
                    document.querySelector('input[name="customerUUID"]').setAttribute('value', `${uuid}`);
                else
                    console.log('uuid not set');
            }
        </script>
    </head>
    <body>
    <%- include('../header') %>

    <section id="main-content">
        <div class="package">
            <h1><%= params.PkgName %></h1>
            <p style="font-style: italic">Price: $<%= params.PkgBasePrice %></p>
            <p><em>An excellent choice!</em></p>
            <p><strong>Departure:</strong> <em><%= new Date(params.PkgStartDate).toDateString() %></em></p>
            <p><strong>Return:</strong> <em><%= new Date(params.PkgEndDate).toDateString() %></em></p>
            <p><strong>Trip Duration:</strong> <em><%= Math.floor((new Date(params.PkgEndDate).getTime() - new Date(params.PkgStartDate).getTime()) / 1000 / 86400) %> days</em></p>
            <h3>How many people will be traveling? (You may book up to 10 people)</h3>
            <form method="post" action="/vacations/order">
                <label for="guests">Number of guests:</label>
                <script>
                    window.addEventListener('load', () => {
                        const selectGuests = document.querySelector('select[name="guests"]');
                        const tripTotal = document.getElementById('trip-total');

                        selectGuests.addEventListener('input', () => {
                            if (selectGuests instanceof HTMLSelectElement) {
                                tripTotal.setAttribute('value', (() => {
                                    return parseInt(selectGuests.options[selectGuests.selectedIndex].value) * <%= params.PkgBasePrice %>;
                                })());
                            }
                        });
                    });
                </script>
                <select name="guests">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="customerUUID">Customer ID (if known):</label>
                <input type="text" name="customerUUID" maxlength="36">
                <label for="trip-total">Total, tax included (<strong>$</strong>):</label>
                <input style="text-align: right" type="text" name="tripTotal" id="trip-total" value="<%= params.PkgBasePrice %>" disabled>
                <input type="hidden" name="packageId" value="<%= params.PackageId %>">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </form>
        </div>
    </section>

    <%- include('../footer') %>
    </body>
</html>