<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../meta') %>
        <title>Travel Experts<%= pageTitle %></title>
        <%- include('../stylesheets') %>
        <%- include('../scripts') %>
        <style>
            #main-content {
                display: grid;
                width: 75%;
                margin: 0 auto;
            }
            #main-content > h1 {
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 1em;
            }
            .vacation-package {
                border: 1px solid black;
                border-radius: 0.5em;
                margin-bottom: 1em;
                padding: 1em;
            }
            .vacation-package:hover {
                cursor: pointer;
                background-color: #86b7fe;
            }
            .vacation-package .package-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .vacation-package .package-info h1 {
                text-align: left;
                font-size: 1.25em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }
            .vacation-package .package-info p {
                font-style: italic;
                margin-bottom: 0.5em;
            }
            .vacation-package .package-info span {}
            .vacation-package .order-package {
                justify-self: center;
                align-self: center;
            }
            .vacation-package .order-package button {

            }
            .vacation-package .package-images {
                display: none;
                margin-top: 1em;
            }
            .vacation-package .package-images img {
                display: block;
                max-width: 75%;
                margin: 0.5em auto 0 auto;
            }
            @media only screen and (min-width: 1000px) {
                .vacation-package .package-images img {
                    max-width: 25%;
                    margin: 0;
                    float: left;
                }
            }
        </style>
    </head>
    <body>
    <%- include('../header') %>

    <section id="main-content">
        <h1><%= params.packageId %></h1>
    </section>

    <%- include('../footer') %>
    </body>
</html>