<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../meta') %>
        <title>Travel Experts<%= pageTitle %></title>
        <%- include('../stylesheets') %>
        <%- include('../scripts') %>
        <style>
            #main-content {
                width: 75%;
                margin: 0 auto;
            }
            #main-content h1 {
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 1em;
            }
            #main-content h2 {
                text-align: center;
                font-size: 1.25em;
                font-weight: bold;
                margin-bottom: 1em;
            }
            .confirmation p {
                font-style: italic;
                margin-top: 1em;
                text-align: justify;
                line-height: 1.5;
            }
            .confirmation {
                display: grid;
                margin: 0 auto;
                width: 30%;
            }
            .confirmation a {
                color: #4d4d4d;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <%- include('../header') %>

        <section id="main-content">
            <article class="confirmation">
                <h1>Thanks, <%= orderDetails.CustFirstName %>!</h1>
                <h2>Your order has been processed!</h2>
                <p style="font-weight: bold">Customer ID: <%= orderDetails.customerUUID %></p>
                <p>If we have your credit card on file from a previous order, your payment will be processed automatically after 48 hours. You may call us anytime before then if you need to modify/cancel your order, at 403-555-5555</p>
                <p>To view your order details, please visit your <a href="/profile/<%= orderDetails.customerUUID %>">profile</a> page! Your Customer ID has been emailed to you, but to be safe, save it in a file or write it down for future use!</p>
            </article>
        </section>

        <%- include('../footer') %>
    </body>
</html>